# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store


#log files
ws-mgr-log.txt
service-mgr-log.txt
http-mgr-log.txt
server-core.txt

# Test binary, built with `go test -c`
*.test
*.DS_store
DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go Land IDE specific files.
**/.idea/workspace.xml
***/.idea/tasks.xml
.idea/
vendor/

# Server core binary
server-core


