# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# cert files
*.crt
*.srl
*.key
*.csr

#log files
ws-mgr-log.txt
service-mgr-log.txt
http-mgr-log.txt
servercore-log.txt

#helper files
vsspathlist.json
vss_vissv2.binary

# Test binary, built with `go test -c`
*.test
*.DS_store
DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go Land IDE specific files.
**/.idea/workspace.xml
***/.idea/tasks.xml
.idea/


# Server binaries
server_core
service_mgr
ws_mgr
http_mgr
agt_server
at_server
mqtt_mgr

# Folders
!server/service_mgr/
!server/server_core/
!server/ws_mgr/
!server/http_mgr/
!server/agt_server/
!server/at_server/
!server/mqtt_mgr/
vendor/
logs/


.gitignore
***workspace.code-workspace
***.vscode
